---
title: Release Notes for F5 Container Connector for PCF
owner: Partners
---

These are release notes for F5 Container Connector for PCF.

##<a id="ver"></a> v1.0.1

**Release Date:** November 30, 2017

Features included in this release:

* Hands-off configuration of a connected F5 BIG-IP node for Apps running in the PCF environment.

Known issues in this release:

* No known issues.


Complete Release notes for the F5 Container Connector for Cloud Foundry Docker container can be found online at: http://clouddocs.f5.com/products/connectors/cf-bigip-ctlr/v1.0/RELEASE-NOTES.html 