---
title: Release Notes for F5 Container Connector for PCF
owner: Partners
---

These are release notes for F5 Container Connector for Pivotal Cloud Foundry (PCF).

##<a id="ver"></a> v1.0.1

**Release Date:** December 29, 2017

Features included in this release:

* Hands-off configuration of a connected F5 BIG-IP node for Apps running in the PCF environment.
* Initial GA release


Complete Release notes for the F5 Container Connector for Cloud Foundry Docker container can be found online at: http://clouddocs.f5.com/products/connectors/cf-bigip-ctlr/v1.0/RELEASE-NOTES.html 
